h1, h2, h3, h4
  margin: 0

h2
  line-height: 26px

$border = 1px solid #aaa
$border-radius = 4px
$primary-bg = #1a1a1a
$primary-bg-hue = #252525
$primary-color = #fff
$primary-color-hue = #bbb
$padding = 10px
$tablet-portrait = 1024px
$mobile-portrait = 414px
$mobile-portrait-double = 820px
$desktop = 1200px

separatorTop()
  border-top: $border
  padding-top: $padding

separatorBottom()
  border-bottom: $border
  padding-bottom: $padding